<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/loggit_style.css">
    <script src="/js/season-entry-card.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

    <title>Loggit!</title>

</head>
<body>
<header>

    <div class="header-content">
        <div class="logo-container">
            <img id= "site-logo" src="/img/logo1.png" alt="logo"/>
            <h4 class="logo">LOGGIT!</h4>
        </div>

        <nav>
            <ul class="nav-links">
                <li><a class="nav-link" href="https://discord.com/api/oauth2/authorize?client_id=827251043447734313&permissions=1611131968&scope=bot">ADD ME!</a></li>
            </ul>
        </nav>
    </div>

</header>

<main>
    <section class="content-404">
        <div >
            <img id="oops-logo" src="/img/oops.png" alt="oops-logo">
        </div>
        <div>
            <h4 id="num-404">
                404
            </h4>
            <h4 id="message">
                The Page You Were Looking For Was Not Found :(
            </h4>
        </div>
    </section>

</main>

</body>
</html>