*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Oswald', sans-serif;
}
.header-content{
    width: 90%;
    margin: auto;
}
a {
    color: white;
    text-decoration: none;
    display: inline-block;

    transition: color 200ms ease-out;
}

a:hover,.logo:hover {
    color: #ccff3e;
}

header{
    background-color: #6bed8b;
    display: flex;


    align-items: baseline;
    max-height: 100% !important;
    padding: 0;
}

#site-logo{
    width: 300px;
    height: auto;
}

.logo-container,
.nav-links{
    display: flex;
}
.header-content{
    display: flex;
}
.logo-container{
    padding: 0;
    margin-bottom: 0;
    flex-direction: row;

    flex: 2;
}

.season{
    margin-top: -60px;
    margin-bottom: -30px;
    color: #26dd52;
    font-size: 600%;
    margin-left: 5%;
    letter-spacing: 10px;
    white-space: nowrap;


}
.season>h4{
    margin-top: 0;
    font-weight: 300;
}
.logo{
    font-size: 150px;
    color: #ffffff;
    font-weight: normal;

    padding: 0;
    margin-left: 5px;
    margin-bottom: -101px;
    margin-top:6px;
    align-self: baseline;

    transition: color 200ms ease-out;
}
.nav-link{

}
.nav-links>li{
    list-style: none;
    color: white;
    font-size: 70px;
    white-space: nowrap;
}
nav{
    padding: 0;
    margin-left: 5px;
    margin-bottom: -100px;
    margin-top: 101px;
    align-self: baseline;
}
.entry-host{
    display: flex;
    align-items: center;
    width: 90%;
    margin-left: 2%;
    margin-top: 15px;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 0;
}
.entry-host>img{
    width: 7%;
    height: auto;
    min-width: 100px;
}
.avatar{
    border-radius: 50%;
}
.entry-host>h4{
    margin-left: 10px;
    color: #84fda2;
    font-weight: 100;
    font-size: 80px;
}
.card-border{

    width: 95%;
    margin: auto;
    margin-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 5px;
    border: 6px solid #d3d3d4;
    box-shadow: 0 0 0 7pt #838383;

}
.entry-border{

    width: 95%;
    margin: auto;
    margin-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    display: flex;

}

.user-entry-card{
    flex-basis: 25%;
    flex-grow: 1;
    margin: 5px;
}



